<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Session-7, Assignment-4</h1>
        <br><br>
          <div class="table-resposive">
              <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Array Index</th>
                          <th>Place</th>
                          <th>Continent Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Using ngFor to loop through array values -->
                      <!-- i is used to display array index here. -->
                      <!-- Green/Red font-color is applied after calculating even/odd index -->
                      <tr *ngFor="let myVal of myArray; let id = index" [ngStyle]="id%2 == 0? {'color': 'green'} : {'color': 'red'}">
                        <!-- Displaying values using interpolation -->
                        <td>
                          {{id}}
                        </td>
                          <td>
                            {{myVal.place}}
                          </td>
                          <td>
                              {{myVal.continent}}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>
